// Brand Colors

// Primary
$red-cross-red: #ED1B2E;
$red-cross-gray: #6D6E70;
$red-cross-black: #000000;
$white: #FFFFFF;

// Secondary
$light-blue: #C4DFF6;
$khaki: #E2D7AC;
$light-gray: #D7D7D8;
$midnight-blue: #004B79;
$safety-green: #8EC06C;
$sky-blue: #56A0D3;
$sand: #B4A996;
$med-gray: #9F9FA3;
$deep-red: #7F181B;
$forest-green: #537B35;
$gold: #ECB731;
$classic-blue: #0091CD;

// Color palette maps for easy loops
$brand-colors: (
  "red-cross-red": $red-cross-red,
  "red-cross-gray": $red-cross-gray,
  "red-cross-black": $red-cross-black,
  "white": $white,
  "light-blue": $light-blue,
  "khaki": $khaki,
  "light-gray": $light-gray,
  "midnight-blue": $midnight-blue,
  "safety-green": $safety-green,
  "sky-blue": $sky-blue,
  "sand": $sand,
  "med-gray": $med-gray,
  "deep-red": $deep-red,
  "forest-green": $forest-green,
  "gold": $gold,
  "classic-blue": $classic-blue
);
